<html lang="en">
<head>
    <title>Index Page</title>
</head>
<body>
<br/>
<form action="save" method="post">
    <table border="1" align="center">
        <!--<th>User Details:</th>-->
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" name="email"></input></td>
        </tr>
        <tr>
            <td><label for="user-name">User Name</label></td>
            <td><input type="text" name="name"></input></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="text" name="password"></input></td>
        </tr>

        <tr>
            <!--<td><input type="reset" value="Reset"></td>-->
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>